name: Auto Global Publisher

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate HTML pages
        run: |
          mkdir -p public
          for file in content/*.txt; do
            lang=$(basename "$file" .txt)
            content=$(cat "$file")
          # sed \
             # -e "s/{{LANG}}/$lang/g" \
             # -e "s|{{CONTENT}}|$content|g" \
             # -e "s|{{LINK1}}|https://www.surveoo.com/?r=1242742|g" \
             # -e "s|{{LINK2}}|https://www.kingopinion.com/?r=1555820|g" \
             # -e "s|{{LINK3}}|https://zoombucks.com/#/?ref=PAHXMY|g" \
             # -e "s|{{LINK4}}|https://voissy.com/blogging/66D5F976240A7/ar_EG|g" \
             # -e "s|{{LINK5}}|https://www.star-clicks.com/?ref=53953196|g" \
             # -e "s|{{LINK6}}|https://r.honeygain.me/AHMED0650B|g" \
             # -e "s|{{LINK7}}|https://grabpoints.com/?ref=8SCIHW|g" \
             # -e "s|{{LINK8}}|https://www.packetshare.io/?code=47BF170829F7FC7B|g" \
             # -e "s|{{LINK9}}|https://app.getgrass.io/register/?referralCode=PsnXlDiLyh85eql|g" \
             # -e "s|{{LINK10}}|https://addslice.com/?crew=WxfYNInN|g" \
             # -e "s|{{LINK11}}|https://addon.money/p/990113|g" \
             # -e "s|{{LINK12}}|https://teaserfast.ru/u/ahmedoct2000|g" \
             # -e "s|{{LINK13}}|https://fundsreward.com/?r=142357|g" \
             # -e "s|{{LINK14}}|https://mobrog.com/?membership_promotion=0&i_invite=22695091-66fdb7e889&rkm=38|g" \
             # -e "s|{{LINK15}}|https://surfe.be/rar/2939981|g" \
             # -e "s|{{LINK16}}|https://www.cpagrip.com/signup.php?ref=2322573|g" \
             # -e "s|{{LINK17}}|https://scalelup.com/?r=mPUiOY95Ne|g" \
             # -e "s|{{LINK18}}|https://freecash.com/r/b4add3abfc424e9ec916|g" \
             # -e "s|{{LINK19}}|https://www.rewardxp.com/join/1349424|g" \
             # -e "s|{{LINK20}}|https://gain.gg/r/107175489504047901933|g" \
             # -e "s|{{LINK21}}|https://earnably.com/join/2979102|g" \
             # -e "s|{{LINK22}}|https://mylead.global/r/e0yvXa|g" \
             # -e "s|{{LINK23}}|https://ph.viewfruit.com/Index/register/inviteid/MTAyNzE1Njo4NzFZSE1OV0JSNTZORjQ3TlZMUA==.html|g" \
             # -e "s|{{LINK24}}|https://www.pollpay.app/?rb=202528232|g" \
             # -e "s|{{LINK25}}|https://www.entireweb.com/?a=GoViral|g" \
             # -e "s|{{LINK26}}|https://smodin.io/pricing?fpr=7v953|g" \
             # -e "s|{{LINK27}}|https://opros-24.ru/OTIOh|g" \
             # -e "s|{{LINK28}}|https://publisher.linkvertise.com/ac/1349335|g" \
             # -e "s|{{LINK29}}|https://members.pointclub.com/home?ref=652CDC96|g" \
             # -e "s|{{LINK30}}|https://www.rewards1.com/4430895|g" \
             # -e "s|{{LINK31}}|https://primeopinion.com/register?ref=9ce6c9e7-46bb-4b31-bc7f-63130055ef7c|g" \
             # -e "s|{{LINK32}}|https://fivesurveys.com/register?ref=9ce6c9e7-48b0-4fdb-a7dc-85012e240b6b|g" \
             # -e "s|{{LINK33}}|https://bux.money/u/1097394|g" \
             # -e "s|{{LINK34}}|https://ko-fi.com/proactivecommands|g" \
             # -e "s|{{LINK35}}|https://exe.io/ref/OctoMatrix|g" \
             # -e "s|{{LINK36}}|https://earnapp.com/i/IvNajTgM|g" \
             # -e "s|{{LINK37}}|https://pawns.app/?r=18056893|g" \
             # -e "s|{{LINK38}}|https://publisher.linkvertise.com/ac/1349335|g" \
             # -e "s|{{LINK39}}|https://app.goldensurveys.com/en/join/GVU99497|g" \
             # -e "s|{{LINK40}}|https://skl.sh/3R4H9nq|g" \
              template.html > public/$lang.html
          done

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
